body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Background color of the bottom bar */
    color: #fff; /* Text color */
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  .bottom-bar a {
    text-decoration: none;
    color: #fff; /* Text color */
  }
  
  .bottom-bar a:hover {
    text-decoration: underline;
  }  

.bio{
    color: #3f006c;
}

.link{
    color: #9500ff;
}